<nav class="navbar navbar-light sticky-top bg-white">
  <div class="container-fluid">
    <form class="d-flex">
      <select class="form-select me-2">
        <option selected>Категория</option>
        <option value="1">Первые блюда</option>
        <option value="2">Завтраки</option>
        <option value="3">Вторые блюда</option>
        <option value="4">Ужины</option>
        <option value="5">Пост</option>
      </select>
      <button class="btn btn-outline-success">Найти</button>
    </form>
  </div>
</nav>


