<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand">Recipe book</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav me-auto">
          <a href="#" class="nav-link">Home</a>
          <a href="#" class="nav-link">Recipes</a>
          <a href="#" class="nav-link">#</a>
          <a href="#" class="nav-link">#</a>
          <a href="#" class="nav-link">#</a>
        </div>
        <button class="btn btn-primary mx-2">Sign in</button>
        <div class="btn-group d-flex">
          <button class="btn btn-outline-success">My recipes</button>
          <button class="btn btn-outline-success">Add recipe</button>
        </div>
      </div>
    </div>
  </nav>
</header>
<router-outlet>
</router-outlet>
<footer>

</footer>



