<nav class="navbar navbar-expand-md navbar-light bg-light main-menu">
  <div class="container">
    <a class="navbar-brand">Recipe book</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto">
        <a href="#" class="nav-link">Home</a>
        <a href="#" class="nav-link">Recipes</a>
      </div>
      <div class="navbar-nav">
        <a href="#" class="nav-link">Войти</a>
        <a href="#" class="nav-link">Мои рецепты</a>
        <a href="#" class="nav-link">Добавить рецепт</a>
      </div>
    </div>
  </div>
</nav>
