<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
    <div class="card-header">
      <h4>Новый рецепт</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="formRecipe" (ngSubmit)="onSubmit()">
        <div class="form-floating mb-3">
          <input type="text" id="recipeName" formControlName="title" class="form-control" placeholder=" "/>
          <label for="recipeName">Название рецепта</label>
        </div>
        <div class="mb-3">
          <label for="formFile" class="form-label">Изображение готового блюда</label>
          <input class="form-control" formControlName="Img" type="file" id="formFile">
        </div>
        <div class="form-floating mb-3">
          <textarea class="form-control" id="description" placeholder=" " rows="1"></textarea>
          <label for="description">Описание</label>
        </div>
        <div class="row g-3 mb-3">
          <div class="form-floating col">
            <input type="number" id="recipeTime" formControlName="cookingTime" class="form-control" placeholder=" "/>
            <label for="recipeTime">Время приготовления (минут)</label>
          </div>
          <div class="form-floating col">
            <select formControlName="category" id="category" class="form-select">
                <option *ngFor="let category of categories; let i = index" [value]="categories[i].id">{{category.title}}</option>
            </select>
<!--            <input type="text" id="category" formControlName="category" class="form-control" placeholder=" "/>-->
            <label for="category">Категория</label>
          </div>
        </div>
      </form>

      <div class="card">
        <div class="card-header bg-secondary">
          <h4>Ингредиенты</h4>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush mb-3">
            <li class="list-group-item d-flex justify-content-between align-items-start bg-light"
                *ngFor="let ingredient of ingredients; let i = index">
              <div class="ms-2 me-auto"> {{ingredient.name}} </div>
              <div class="ms-2 me-auto">
                {{ ingredient.count | prettyUnit:ingredient.unit }}
              </div>
              <div class="ms-2 me-auto">
                <button type="button" class="btn btn-close" (click)="deleteIngredient(i)"></button>
              </div>
            </li>
          </ul>
          <form [formGroup]="formIngredient"
                (ngSubmit)="addIngredient(ingredientName.value, countIngredient.valueAsNumber, unitIngredient.value )">
            <div class="row g-3 mb-3">
              <div class="col-md-6">
                <div class="form-floating">
                  <input type="text" id="ingredientName" formControlName="name" class="form-control" placeholder=" "
                         [class.is-invalid]="submitted && f_ingredient.name.errors" #ingredientName/>
                  <label for="ingredientName">Название ингредиента</label>
                  <div *ngIf="submitted && f_ingredient.name.errors" class="invalid-feedback">
                    <div *ngIf="f_ingredient.name.errors.required">Введите название</div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-floating">
                  <input type="number" id="countIngredient" formControlName="count" class="form-control" placeholder=" "
                         [class.is-invalid]="submitted && f_ingredient.count.errors" #countIngredient/>
                  <label for="countIngredient">Количество</label>
                  <div *ngIf="submitted && f_ingredient.count.errors" class="invalid-feedback">
                    <div *ngIf="f_ingredient.count.errors.required">Введите количество</div>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-floating">
                  <select formControlName="unit" id="unitName" class="form-select" [class.is-invalid]="submitted && f_ingredient.unit.errors" #unitIngredient>
                    <option *ngFor="let unit of units; let i = index" [value]="units[i].id">
                      {{unit.name}}
                    </option>
                  </select>
                  <label for="unitName">е.и.</label>
                  <div *ngIf="submitted && f_ingredient.unit.errors" class="invalid-feedback">
                    <div *ngIf="f_ingredient.unit.errors.required">Выберите е.и.</div>
                  </div>
                </div>
              </div>
            </div>
            <button [disabled]="loading" class="btn btn-outline-secondary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Добавить ингредиент
            </button>
          </form>
        </div>
      </div>

      <div class="card">
        <div class="card-header bg-secondary">
          <h4>Шаги приготовления</h4>
        </div>
        <div class="card-body">
          <div class="accordion" id="Accordion_steps">
            <div class="accordion-item" [attr.id]="'accordion_'+ i" *ngFor="let step of steps; let i = index">
              <div class="row g-3">
                <div class="col">
                  <h2 class="accordion-header" [attr.id]="'headingStep-' + i">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            [attr.data-bs-target]="'#collapseStep-' + i" aria-expanded="false"
                            [attr.aria-controls]="'collapseStep-' + i">
                      Шаг {{i + 1}}
                    </button>
                  </h2>
                  <div [attr.id]="'collapseStep-' + i" class="accordion-collapse collapse"
                       [attr.aria-labelledby]="'headingStep-' + i" data-bs-parent="#Accordion_steps">
                    <div class="accordion-body">
                      <app-recipe-step [step]="steps[i]"></app-recipe-step>
                    </div>
                  </div>
                </div>
                <div class="col-md-auto">
                  <button type="button" class="btn btn-close" (click)="deleteStep(i)"></button>
                </div>
              </div>
            </div>
          </div>
          <form [formGroup]="formStep"
                (ngSubmit)="addStep( stepDescription.value, img.value)">
            <div class="mb-3">
              <label for="formFileStep" class="form-label">Изображение шага</label>
              <input class="form-control" formControlName="img" type="file" id="formFileStep" #img>
            </div>
            <div class="form-floating mb-3">
              <input type="text" id="stepDescription" formControlName="description" class="form-control" placeholder=" "
                     #stepDescription/>
              <label for="stepDescription">Описание действий</label>
            </div>

            <button [disabled]="loading" class="btn btn-outline-secondary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Добавить шаг
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
